html{
    width: 100%;
    height: 100%;
    background-color: black;
}


header{
    display: flex;
    flex-direction: row;
    justify-content: start;
    align-items: center;
    border-bottom: 0.1rem solid #ffee00;
}



.ss_titulo{
    font-family: 'Almarai', sans-serif;
}
.ss_corpo{
    font-family: 'Poppins', sans-serif;
}
.s_corpo{
    font-family: 'DM Serif Display', serif;
}
.s_titulo{
    font-family: 'Crimson Text', serif;
}
.bold{
    font-weight: bold;
}

.azul{
    color: #36aaf7;
}
.amarelo{
    color: #ffee00;
}
.vermelho{
    color: #ff0000;
}