html{
    width: 100%;
    height: 100%;
    background-color: black;
}

header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    border-bottom: 0.1rem solid #ffee00;
}

main{
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.barra_lateral{
    display: flex;
    flex-direction: column;
    position: fixed;
    top: 3rem;
    right: 0.5rem;
    border-left: 0.1rem solid #ffee00;
}

.atividades{
    display: flex;
    flex-direction: column;
    align-items: self-start;
}


.ss_titulo{
    font-family: 'Almarai', sans-serif;
}
.ss_corpo{
    font-family: 'Poppins', sans-serif;
}
.s_corpo{
    font-family: 'DM Serif Display', serif;
}
.s_titulo{
    font-family: 'Crimson Text', serif;
}
.bold{
    font-weight: bold;
}

.azul{
    color: #36aaf7;
}
.amarelo{
    color: #ffee00;
}
.vermelho{
    color: #ff0000;
}