html{
    width: 100%;
    height: 100%;
    background-color: black;
}

body{
    width:100%;
    height:100%;
}
header{
    width: 100%;
    height:3rem;
    display:flex;
    justify-content: center;
    align-items: center;
    
}
.Seu_Treino{
    display: flex;
    font-size: 2rem;
    justify-content: center;
    align-items: center;
    border-bottom: 1px solid #ffee00;
}

.Treino{
    width:100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid #ffee00 ;
    margin-top: 5rem;
    font-size: 1.8rem;
}

.Treino_2{
    display: flex;
    justify-content:center;
    align-items: center;
    font-size: 1.2rem;
    height: 10rem;
}

.Atendimento{
    display: flex;
    justify-content: flex-end;
    align-items: first baseline;
    margin: 1rem;

}


.ss_titulo{
    font-family: 'Almarai', sans-serif;
}
.ss_corpo{
    font-family: 'Poppins', sans-serif;
}
.s_corpo{
    font-family: 'DM Serif Display', serif;
}
.s_titulo{
    font-family: 'Crimson Text', serif;
}
.bold{
    font-weight: bold;
}

.azul{
    color: #36aaf7;
}
.amarelo{
    color: #ffee00;
}
.vermelho{
    color: #ff0000;
}